.projects {
    width: 100vw;
    scroll-snap-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to right bottom, #212531 50%, #2f3441 50%);

    &__container {
        height: auto;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    a {
        text-decoration: none;
    }
}

@media screen and (max-width: 480px){
    .projects__container{
        width: 100%;
        height: 100%;
    }
}