.about{
    width: 100%;
    height: 100vh;
    position: relative;
    scroll-snap-align: center;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
    overflow: hidden;
    justify-content: center;
    &__container{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        width: 100vw;
        height: 100%;
        border-radius: 2px;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        &__technologies{
            margin-left: 5%;
            text-transform: uppercase;
            color: white;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            position: absolute;
            right: 0;
            margin-right: 2%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-techicon{
                margin-top: 5%;
                color: orange;
                font-size: 1.9rem;
                cursor: pointer;
            }
        }
        &-me{
            width: 60%;
            p {
                margin-top: 5%;
            }
        }
        &-cvicon{
            color: orange;
            font-size: 1.9rem;
        }
        &-cvicon:hover{
            cursor: pointer;
        }
        &-socials{
            &-gocv{
                text-transform: uppercase;
                margin-top: 5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            a{
                color: white;
                text-decoration: none;
            }
            & ul{
                display: flex;
                justify-content: space-around;
                margin-top: 25%;
                list-style: none;
                li:nth-child(2), li:nth-child(3){
                    margin-left: 20px;
                }
                a:hover{
                    transition: 0.3s;
                    cursor: pointer;
                    color: orange;
                }
            }
        }
    }

    &__techcontainer{
        position: absolute;
        top: 0;
        left: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        width: 100vw;
        height: 100%;
        &-abouticon{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            left: 0;
            margin-left: 2%;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            color: white;
            text-transform: uppercase;
            &-icon{
                color: orange;
                font-size: 1.9rem;
                cursor: pointer;
            }
        }
    }
};


@media screen and (max-width: 480px){
    .about__container{
        font-size: 0.9rem;
    }
    .about__techcontainer{
        font-size: 0.8rem;
        &-abouticon{
            margin-left: 1%;
            &-icon{
                font-size: 1.6rem;
            }
        }
    }
};