
:root {
    --bg-shape-color: linear-gradient(120deg, #343A4F, #0F1620);
    --text-color: #D5E1EF;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 340px;
    height: 70vh;
    border-radius: 40px;
    background-image: var(--bg-shape-color);
    overflow: hidden;
    &__active{
        z-index: 3;
        width: 350px;
        height: 71vh;
        border-radius: 40px;
        background-image: var(--bg-shape-color);
        overflow: hidden;
        transform: scale(1.1);
        transition: width 1s;
        margin: 2%;
    }
    &__inactive1{
        z-index: 2;
        opacity: 0.8;
        transform: scale(0.99);
    }
    &__inactive2{
        z-index: 1;
        opacity: 0.6;
        overflow: hidden;
        transform: scale(0.95);
    }
}

.overviewInfo,
.projectSpecifications {
    padding: 24px;
}

.overviewInfo {
    /* background-image: linear-gradient(176deg, var(--lightblue), var(--darkblue)); */
    &-UpgradeFly{
        background-size: 100%;
        background-image: url('https://media.discordapp.net/attachments/964479986855706624/977877243269361724/upgradefly.JPG?width=715&height=649');
    }
    &-Intranet{
        background-size: 100%;
        background-image: url('https://media.discordapp.net/attachments/964479986855706624/977879078688423986/Captura.JPG?width=866&height=676');
    }
    &-E-Commerce{
        background-size: 100%;
        background-image: url('https://media.discordapp.net/attachments/964479986855706624/977520673171841054/zarando1.JPG?width=410&height=651');
    }
    &-Cheapshark{
        background-size: 100%;
        background-image: url('https://media.discordapp.net/attachments/964479986855706624/983753264522735616/cheapshark3.JPG?width=1081&height=946');
    }
}


.neurobutton {
    background-image: var(--bg-shape-color);

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 3px 4px 5px 0px rgba(197, 197, 197, 0.1), inset 3px 6px 6px 5px rgba(78, 77, 77, 0.1), -2px -2px 8px 2px rgba(255, 255, 255, 0.1), 2px 2px 6px 3px rgba(0, 0, 0, 0.4);
}

.productinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 200px;
    margin-bottom: 50px;
}

.grouptext {
    h3 {
        letter-spacing: 3.2px;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
    }

    p {
        font-size: 12px;
        opacity: 0.8;
    }

}

/* product specifications */
.featureIcon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 16px;
    img{
        width: 100%;
        height: 100%;
    }
}

.projectSpecifications {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;

    h1 {
        color: white;
        margin-top: 10px;
        margin-bottom: 16px;
        font-size: 32px;
    }

    p {
        color: white;
        opacity: 0.8;
        font-size: 15px;
        line-height: 1.5;
    }

    .productFeatures {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
        grid-row-gap: 16px;

        .feature {
            display: flex;
            align-items: center;
        }
    }
}



.checkoutButton {
    border: 2px solid white;
    display: flex;
    width: 100%;
    background-image: var(--bg-shape-color);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: -2px -2px 2px 0px rgba(80, 80, 80, 0.1), 2px 2px 3px 0px rgba(12, 12, 12, 0.3), inset 0px 0px 0px 2px rgba(80, 80, 80, 0.2);
    margin-top: 30px;
    padding: 14px;
    justify-content: space-between;
    align-items: center;
}

/* checkout button*/
.showmore {
    outline: 0;
    border: 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: white;
    p {
        padding: 8px 17px;
        border-right: 1px solid rgba(0, 0, 0, 0.4);
    }
}
.buttonaction {
    cursor: pointer;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-icon{
        font-size: 1.9rem;
        a {
            color: orange;
        }
    }
}


.projects__nav div {
	position: absolute;
	top: 50%;
	left: 4%;
	width: 5rem;
	height: 5rem;
	margin-top: -2.5rem;
	list-style: none;
}
.projects__nav div:last-of-type {
	left: auto;
	right: 4%;
}
.prev, .next {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 100%;
	transition: box-shadow .3s;
}
.prev::before, .prev::after, .next::before, .next::after {
	content: '';
	position: absolute;
	left: 43%;
	background: #fff;
	width: .4rem;
	min-width: 3px;
	border-radius: 3px;
	height: 34%;
}
.prev::before {
	transform: rotate(45deg);
	top: 24%;
}
.prev::after {
	transform: rotate(-45deg);
	bottom: 24%;
}
.next::before, .next::after {
	left: auto;
	right: 43%;
}
.next::before {
	transform: rotate(-45deg);
	top: 24%;
}
.next::after {
	transform: rotate(45deg);
	bottom: 24%;
}
.prev:hover, .next:hover {
	box-shadow: 0 0 0 1rem orange;
}
.projects__nav > div > span {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	border-radius: 100%;
	z-index: 5;
	pointer-events: none;
	will-change: width, height;
	transform: translate(-50%, -50%);
	transition: width .6s, height .6s;
}


@media screen and (max-width: 480px){
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75vh;
        overflow: hidden;
        &__active{
            z-index: 3;
            width: 100vw;
            border-radius: 20px;
            overflow: hidden;
            transition: width 1s;
            margin: 2%;
        }
        &__inactive1{
            display: none;
        }
        &__inactive2{
            display: none;
        }
    };

.featureIcon {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 16px;
}

.projectSpecifications {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    h1 {
        color: white;
        margin-top: 1px;
        margin-bottom: 7px;
        font-size: 30px;
    }
    p {
        color: white;
        opacity: 0.8;
        font-size: 15px;
        line-height: 1.4;
    }
    .productFeatures {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
        grid-row-gap: 16px;
        .feature {
            display: flex;
            align-items: center;
        }
    }
}};