body {
	background-image: linear-gradient(#111, #050505);
	--img-url: url(https://avatars.githubusercontent.com/u/89035945?v=4);
	--img-url2: url(https://media.discordapp.net/attachments/964479986855706624/975328957417279498/Pngtreehacker_wearing_hoodie_and_using_5415642.png?width=1365&height=1365);
	-webkit-box-shadow: 0px 5px 5px 0px rgba(245,138,8,1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(245,138,8,1);
	box-shadow: 0px 5px 5px 0px rgba(245,138,8,1);
}


.headshot {
	flex-shrink: 0;
	margin: 20px;
	height: calc(110px + 6vw);
	width: calc(110px + 6vw);
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.headshot-3 {
	border-radius: 50% 10%;
	background-image: var(--img-url), linear-gradient(to bottom left, #f83600, #f9d423);
}
.headshot-3:hover{
	cursor: pointer;
	border-radius: 50% 10%;
	transition:background-position 1s ease;
	background-image: var(--img-url2), linear-gradient(to bottom left, black, orange);

}



