@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1F1F1F;
  font-family: 'Oswald', sans-serif;
}
